.about-me-container {
  background-color: whitesmoke; /* Changed to white for card-like feel */
  padding: 4rem;
  margin: 3rem auto; /* Added margin around the card */
  max-width: 63.33%; /* Limit the width */
  text-align: center;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2); /* Deeper shadow for more depth */
  border-radius: 10px; /* Rounded corners */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-text {
  width: 40%; /* increased width for readability */
  text-align: center; /* gives a more professional look */
  margin-bottom: 2rem; /* some space before the icons */
  margin-top: 0.5rem;
}

h1 {
  margin-bottom: 3rem; /* Further increase space below main title */
}

h3 {
  font-family: "Arial", sans-serif;
  margin-bottom: 1rem;
  margin-top: 1rem; /* Add space above subtitle */
  font-weight: 600;
  color: #5d4037 !important; /* Add !important to enforce color change */
}

p {
  font-family: "Georgia", serif;
  line-height: 1.8; /* increased for readability */
  margin-bottom: 1.5rem;
  text-align: justify;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* centers the icons */
  background: linear-gradient(to right, #f0f1f6, #dbe7fd); /* Adds gradient */
  padding: 1rem;
  border-radius: 12px; /* Adds rounded corners */
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1); /* Adds shadow for depth */
  margin-top: 2rem; /* Adds some space between text and container */
}

.tech-icon {
  margin: 0.5rem;
  width: 65px;
  height: 65px;
  transition: transform 0.3s ease-in-out;
}

.tech-icon:hover {
  transform: scale(1.1);
}
