.header {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: #333; /* dark grey */
  font-size: 18px;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #ffd700; /* gold for hover */
  text-decoration: underline;
}

.social-media-icons {
  position: fixed;
  top: 1em;
  right: 1em;
  display: flex;
  gap: 1em;
  font-size: 30px;
  color: #333; /* dark grey */
  transition: all 0.3s ease-in-out;
}

.social-media-icons i:hover {
  color: #ffd700; /* gold for hover */
}
