.about-me {
  display: flex;
  justify-content: center; /* Change from space-between to center */
  align-items: center;
  padding: 1rem;
  height: 100vh; /* Ensure the section takes up the full viewport height */
  margin-top: -50px; /* Negative margin to move the content up */
  width: 100%; /* Ensure it takes up full width */
}

.typing-text {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 2em;
}

.quote-container::before {
  content: open-quote;
  font-size: 6em; /* Adjust this to make the opening quote bigger */
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.quote-container::after {
  content: close-quote;
  font-size: 6em; /* Adjust this to make the closing quote bigger */
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.5em;
}

.profile-picture {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-left: 5rem; /* Additional space to push the image to the right */
}

.quote-container::before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.quote-container::after {
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.5em;
}

.quote-text {
  font-size: 24px;
}

.author {
  font-size: 24px;
}

.profile-picture {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-left: 5rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.profile-picture:hover {
  transform: scale(1.1);
  filter: brightness(120%);
}

@media (max-width: 768px) {
  .typing-text {
    font-size: 24px;
  }
  .profile-picture {
    width: 200px;
    height: 200px;
  }
  .quote-text,
  .author {
    font-size: 18px;
  }
  .about-me {
    flex-direction: column;
    align-items: flex-start;
  }
}
