:root {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
  --base-title-size: 52px;
  --base-subtitle-size: 32px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #faf3e0;
  min-height: 100vh;

  overflow-x: hidden;
}

#root {
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}
