:root {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #faf3e0;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  background-color: ivory;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
