:root {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #faf3e0;
  color: #333;
}

#root {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: ivory;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}
